.form__button {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 30px;
  height: 40px;
  width: 100%;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  box-sizing: border-box;
}

.form__button[type="submit"] {
  background-color: #2f80ed;
}

.form__button:focus {
  outline-color: #2f80ed;
}

.form__button:hover {
  opacity: .3;
}
